{% extends "base.jinja" %}

{% block content %}
ARG CAFFE_VERSION={{ _version }}

RUN apt-get update && apt-get install -y --no-install-recommends \
        libboost-all-dev \
        libgflags-dev \
        libgoogle-glog-dev \
        libhdf5-serial-dev \
        libleveldb-dev \
        liblmdb-dev \
        libprotobuf-dev \
        libsnappy-dev \
        protobuf-compiler && \
    rm -rf /var/lib/apt/lists/*

ENV CAFFE_ROOT=/opt/caffe
WORKDIR $CAFFE_ROOT

{% if arch == 'gpu' -%}
{% set EXTRA_CMAKE_FLAGS = "-DUSE_CUDNN=1 -DUSE_NCCL=1" -%}
{% else -%}
{% set EXTRA_CMAKE_FLAGS = "-DCPU_ONLY=1" -%}
{% endif -%}

RUN git clone -b ${CAFFE_VERSION} --depth 1 https://github.com/BVLC/caffe.git . && \
{%- if arch == 'gpu' %}
    pip install --upgrade pip && \
{%- endif %}
    for req in $(cat python/requirements.txt) pydot; do pip install $req; done && \
{%- if arch == 'gpu' %}
    git clone https://github.com/NVIDIA/nccl.git && cd nccl && make -j install && cd .. && rm -rf nccl && \
{%- endif %}
    mkdir build && cd build && \
    cmake {{ EXTRA_CMAKE_FLAGS }} -DBLAS=Open .. && \
    make -j"$(nproc)"

ENV PYCAFFE_ROOT $CAFFE_ROOT/python
ENV PYTHONPATH $PYCAFFE_ROOT:$PYTHONPATH
ENV PATH $CAFFE_ROOT/build/tools:$PYCAFFE_ROOT:$PATH
RUN echo "$CAFFE_ROOT/build/lib" >> /etc/ld.so.conf.d/caffe.conf && ldconfig
{% endblock %}
