{% extends "base.jinja" %}

{% block content %}
RUN pip --no-cache-dir install --upgrade \
{%- if _version == '1.0rc1' %}
        pip \
        torchvision_nightly \
{%- else %}
{%-   if arch == 'gpu' %}
        http://download.pytorch.org/whl/cu{{ _cuda_version | replace(".", "") }}/torch-{{ _version }}-{{ cpver }}-{{ _platform }}_x86_64.whl \
{%-   else %}
        http://download.pytorch.org/whl/cpu/torch-{{ _version }}-{{ cpver }}-{{ _platform }}_x86_64.whl \
{%-   endif %}
        torchvision=={{ _vision_version }} \
{%- endif %}
        torchtext \
        tensorboardX=={{ _tensorboardx_version }} \
{%- if cpver.startswith('cp3') %}
        fastai \
{%- endif %}
    && rm -rf /tmp/* \
    && rm -rf /root/.cache

{%- if _version == '1.0rc1' %}
RUN pip --no-cache-dir install \
{%-   if arch == 'gpu' %}
        torch_nightly -f https://download.pytorch.org/whl/nightly/{{ _cuda_version }}/torch_nightly.html \
{%-   else %}
        torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html \
{%-   endif %}
    && rm -rf /tmp/* \
    && rm -rf /root/.cache
{%- endif %}

{%- if _magma_cuda_url is defined %}
# TODO: build and install magma in base
RUN mkdir /usr/local/magma \
    && curl -L "{{ _magma_cuda_url }}" | tar xjv -C /usr/local/magma
{%- endif %}

{%- endblock %}
