{% extends "base.jinja" %}

{% block content %}
{%- if _cuda_virtual_arch_feature_list is defined %}
ENV TORCH_CUDA_ARCH_LIST="{{ _cuda_virtual_arch_feature_list }}"
{%- endif %}

RUN pip install \
        typing \
        mkl mkl-devel \
    && rm -rf /tmp/* \
    && rm -rf /root/.cache

{% if _magma_cuda_url is defined %}
RUN mkdir /usr/local/magma \
    && curl -L "{{ _magma_cuda_url }}" | tar xjv -C /usr/local/magma
{%- endif %}

RUN export MAX_JOBS=`expr $(nproc) + 1` \
    && git clone https://github.com/pytorch/pytorch \
    && cd pytorch \
    && git checkout v{{ _version }} \
    && git submodule update --init \
    && python setup.py install \
    && cd .. && rm -rf pytorch

RUN pip --no-cache-dir install --upgrade \
        torchvision=={{ _vision_version }} \
        tensorboardX=={{ _tensorboardx_version }} \
        torchtext \
{%- if cpver.startswith('cp3') %}
        fastai \
{%- endif %}
    && rm -rf /tmp/* \
    && rm -rf /root/.cache

{%- endblock %}
