{% extends "base.jinja" %}

{% block content %}
RUN pip --no-cache-dir install --upgrade \
{%- if arch == 'gpu' %}
        http://download.pytorch.org/whl/cu{{ _cuda_version | replace(".", "") }}/torch-{{ _version }}-{{ cpver }}-{{ _platform }}_x86_64.whl \
{%- else %}
        http://download.pytorch.org/whl/cpu/torch-{{ _version }}-{{ cpver }}-{{ _platform }}_x86_64.whl \
{%- endif %}
        torchvision=={{ _vision_version }} \
        torchtext \
        tensorboardX=={{ _tensorboardx_version }} \
    && rm -rf /tmp/* \
    && rm -rf /root/.cache

{%- endblock %}
