{% extends "base.jinja" %}

{% block content %}
# Add Tensorboard
RUN apt-get update && apt-get install -y supervisor \
  && apt-get clean \
  && apt-get autoremove \
  && rm -rf /var/cache/apt/archives/* \
  && rm -rf /var/lib/apt/lists/*
COPY tensorboard/tensorboard.conf /etc/supervisor/conf.d/

RUN pip --no-cache-dir install \
        dlib \
        gym[all] \
        incremental \
        nltk \
{%- if cpver == 'py2' %}
        pattern \
{%- endif %}
        textacy \
        scikit-image \
        spacy \
        tqdm \
        wheel

# Install OpenAI Universe
RUN git clone --branch v0.21.3 https://github.com/openai/universe.git \
    && cd universe \
    && pip install . \
    && cd .. \
    && rm -rf universe

# Install xgboost
RUN git clone --recursive https://github.com/dmlc/xgboost \
    && cd xgboost \
{%- if arch == 'gpu' %}
    && mkdir build \
    && cd build \
    && cmake .. -DUSE_CUDA=ON \
    && make -j$(nproc) \
    && cd .. \
{%- else %}
    && make -j$(nproc) \
{%- endif %}
    && cd python-package \
    && python setup.py install \
    && cd ../.. \
    && rm -rf xgboost
{%- endblock %}
